
/*
@media screen and (max-width: 768px) {


}
*/

@media screen and (min-width: 481px) {
    .searchbar-mobile,
    .home-mb-info,
    .new-activity > button,
    .home-mb-order,
    .home-mb-count ,
    .actpage-mb-price,
    .purchase-mb-btn,
    .purchase-mb-time,
    .purchase-mb-top,
    .list-mb-content,
    .navbar-mb-brand,
    .drawer-mb,
    .mobimenu img,
    .gotop-mb,
    .list-mb-content,
    .list-mb-activities,
    .list-result,
    .actpage-mb-dashboard,
    .actpage-thum-mb-title {
        display: none!important ;
    }
}

@media screen and (max-width: 480px) {
    .home-container > form,
    .home_bntitle,
    .home-title,
    .Act-category,
    .home-blog,
    .new-activity-count,
    .new-activity-orginizer,
    .new-activity-price,
    .new-activity-date,
    .new-activity-location,
    .online-secretary,
    .about-us,
    .funtion-intro,
    .act-page-blur,
    .actpage-right-content,
    .mb-no-display,
    .purchase-total,
    .purchase-tickets,
    .list-banner,
    .list-filter-content,
    .list-filter-title,
    .list-right-content,
    .navbar-brand,
    li.drawer,
    .navbar-host,
    .gotop,
    .actpage-recommend-info,
    .actpage-dashboard {
        display: none!important;
    }

    .gotop-mb {
        display: none;
        position: fixed;
        right: 0px;
        bottom:45px;
        padding: 5px;
        cursor: pointer;
        z-index: 999999;
    }

    .gotop-mb img {
        width: 80px;
    }

    .act-page-container {
        margin-top: 0px;
    }

    .Navbar {
        background-color: white;
        position:inherit;
        top: 0;
        z-index: 99999;
        width: 100%;
        height: 50px;
    }

    .navbar-mb-brand {
        padding: 0;
    }

    .navbar-mb-brand img {
        height: 28px;
        margin-top: 2px;
    }

    .smobitrigger {
        color: #666;
        font-size: 30px;
    }

    .navigation {
        padding: 0;
        position: absolute;
        top: 3px;
        right: 10px;
    }

    .navigation nav ul li a {
        text-shadow: none;
        border-bottom: 1px dashed #ccc;
    }

    .searchbar-mobile {
        position: absolute;
        z-index: 9999;
        top: 35%;
        left: 6%;
        color: white;
        text-align: center;
        font-size: 50px;
        letter-spacing: 2px;
        text-shadow: 1px 1px 30px #808080;
    }
    
    .searchbar-mobile img {
        width: 80%;
    }

    /*-------- mobile view 首頁 ----------*/
    .new-activity {
        padding: 15px;
    }

    .new-activity-panel {
        box-shadow: none;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        padding: 0px;
    }
    .new-activity-thumbnail {
        width: 40%;
        float: left;
        height: 150px;
        border-radius: 0px;
        position: relative;
    }

    .home-container {
        display: none;
    }

    .mobile-container {
        display: inline-table;
        width: 100%;
        background-color: #fff;
    }
    
    .mobile-panel a {
        color: #666;
    }

    .mobile_panel_bg {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 15px
    }
    
    .mobile_panel_bg:hover {
        background-color: #f2f2f2;
    }
    
    .mobile-activity-thumbnail {
        border-radius: 5px 0 0 5px;
        position: relative;
        background-size: cover;
    }
    
    .home-mb-activity-title {
        margin-bottom: 5px;
        font-size: 15px;
    }
    
    .mobile-activity-info {
        width: 60%;
        padding: 5px 10px;
    }
    
    .home-mb-info img {
        width: 20px;
    }
    
    .new-activity-right {
        width: 60%;
        float: left;
        padding:5px 10px;
    }
    .new-activity-title {
        padding: 0px;
        margin: 0px;
    }
    .new-activity-title a {
        font-size: 18px;
    }

    .home-mb-info {
        padding: 0px;
        padding-right: 0px;
        font-size: 14px;
    }

    .home-mb-info span {
        padding-right: 5px;
    }

    .home-mb-count {
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 2px 10px;
        text-align: center;
        position: absolute;
        left: 10px;
        font-size: 10px;
        bottom: 10px;
        border-radius: 10px;
    }

    .home-mb-count img {
        width: 15px;
        padding-bottom: 3px;
        margin-right: 7px;
    }
    
    .more-activity {
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 16px;
        letter-spacing: 4px;
        color: #fff;
        z-index:99;
        text-align: center;
    }
    
    .more-activity > div {
        margin: 10px auto;
        padding: 12px;
        width: 90%;
        border-radius: 5px;
        background-color: rgba(255,90,95,0.9);
        
    }
    
    /*foooooooooooooooooooooter*/
    .bottom-linkout {
        padding: 10px;
    }
    .bottom-linkout img {
        width: 80px;
    }
    .footer-center {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    /*---------------sliderbar---------------*/
    li.drawer-mb {
      text-align: center;
    }

    li.drawer-mb > a {
        padding: 10px 0!important;
    }

    li.drawer-mb > a:hover {
        color: #fff!important;
    }

    /*活動內容頁*/
    .actpage-purchase {
        margin: 20px auto;
        width: 90%;
        padding: 15px;
    }
    
    .actpage-header {
        margin: 5px 0;
    }
    .actpage-main-image {
        position: inherit;
        width: 100%;
        height: 200px;
        background-position: center;
    }
    
/*------------- actpage-dashboard --------------*/
    
    .actpage-mb-dashboard {
        padding: 10px;
        margin: 0;
    }
        
    .actpage-holder-thumnail {
        width: 75px;
        height: 75px;
        background-size: cover;
        background-position: top;
        border-radius: 120px;
        border: 1px solid #ccc;
    }

    .dashboard-title {
        font-size: 15px;
    }
    
    .actpage-mb-surplus p {
        background-color: #808080;
        color: #fff;
        width: calc(100%/2 - 10px);
        text-align: center;
        margin-right:5px;
        padding: 3px;
        border-radius: 10px;
        font-size: 12px;
        letter-spacing: 1px;
        float: left;
    }
    
    .actpage-holder-name {
        text-align: left;
        font-size: 13px;
        color: #999999;
    }
    
    .actpage-dashboard-info {
        padding: 10px 0;
        border-top: 1px solid #ccc;
    }
    
    .actpage-dashboard-info  p {
        margin: 0;
    }
    
    .dashboard-block img  {
        width: auto;
        margin: 0px;
        height: 30px;
    }

    .dashboard-text {
        margin: 0px;
        text-align: center;
        font-size: 13px;
        padding-top:5px; 
    }
        
    .dashboard-mb-share span {
        letter-spacing: 2px;
        font-size: 14px;
    }
    
    .dashboard-mb-share img {
        width: 15%;
        border: 1px solid #000;
        border-radius: 50px;
        padding: 10px;
        margin:0 5px;
        opacity: 0.4;
    }
    
    .dashboard-mb-share {
        padding-top: 15px;
        text-align: center;
        border-top: 1px solid #ccc;
    }

    .actpage-panel {
        width: 100%;
        min-height: auto;
    }

    .actpage-recommend-panel{
        border: none;
        width:100%;
        margin: 0;
        margin-bottom: 5px;
    }
    
    .actpage-recommend-thumnail {
        border-radius: 0px;
        float: left;
        height: 200px;
        position: relative;
    }
    
    .actpage-thum-mb-title {
        font-size: 15px;
        color: #fff;
        background-color: rgba(0,0,0,0.4);
        padding: 5px 10px;
        position: absolute;
        width: 100%;
        bottom: 0;
        margin: 0;
    }
    
    .actpage-recommend {
        margin-bottom: 10px;
    }
    
    .actpage-recommend-info {
        width: 60%;
        float: left;
    }
    
    .actpage-recommend-info p {
        margin: 3px auto;
        color: #666;
    }
    
    .actpage-recommend-info img {
        width: 20px;
        float: left;
        margin-right: 5px;
    }
    
    .purchase-mb-btn {
        position: fixed;
        width: 100%;
        z-index: 9990;
        bottom: 15px;
    }

    .purchase-mb-submit {
        text-align: center;
        background-color: #ff5a5f;
        padding: 10px;
        color: white;
        font-size: 16px;
        letter-spacing: 2px;
    }

    .actpage-mb-purchase {
        background-color: #ff5a5f;
        border-radius: 5px;
        text-align: center;
        padding:10px 5px;
        margin: 0px auto;
        width:90%;
        cursor: pointer;
    }

    .actpage-mb-purchase p ,
    .actpage-mb-purchase {
        color: white;
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 0px;
    }

    .actpage-mb-purchase:hover {
        background-color: #dd4e58;
    }

    .actpage-mb-purchase img {
        width: 20px;
        margin-bottom: 3px;
        margin-right: 3px;
    }

    /*訂購頁面*/
    .purchase-content {
        margin-top: 0px;
        padding: 0px;
    }

    .purchase-left {
        border: none;
    }

    .purchase-mb-top > p {
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        border-top: 1px dashed #ccc;
        border-bottom: 1px dashed #ccc;
        padding: 10px 0;
        letter-spacing: 1px;
    }

    .purchase-mb-ticket {
        background-color: #f5f5f5;
        padding: 10px 0;
        letter-spacing: 1px;
    }

    .purchase-mb-total {
        text-align: right;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .purchase-mb-total span {
        padding-left: 5px;
    }

    .confirm-container {
        padding: 10px 0;
    }

    .confirm-left,
    .confirm-right {
        padding: 0;
    }

    .confirm-ticket > div {
        padding:5px 0;
        border-bottom: 1px dashed #ccc;
        margin: 0;
    }

    /*登入頁、註冊頁*/

    .login-container {
        margin-top: 0;
        padding: 20px 0;
    }

    .login-panel {
        width: 90%;
    }

    .register-container {
        margin-top: 0;
        padding: 20px 0;
    }

    .register-panel {
        width: 90%;
    }

    /*search page*/

    .list-container {
        margin-top: 0px;
        background-color: #f7f7f7;
    }

    .list-content {
        width: 100%;
    }

    .list-mb-content > div > p {
       cursor: pointer;
        font-size: 16px;
        color: #666;
        margin: 0;
        background-color: #f4f4f4;
        padding: 10px;
    }

    .list-filter {
        margin: 0;
        padding: 5px 10px;
        background-color: #fff;
    }

    .list-right-content > ul > li > a {
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }

    .list-category-panel {
        padding: 0;
        border: 1px solid #ccc;
        background: white;
        margin: 15px 0;
    }

    .nav-tabs {
        margin: 15px;
    }

    .list-right-content {
        margin: 0;
    }

    .list-content-panel {
        margin:10px 0;
    }

    .list-category-text {
        padding: 10px;
    }
    
    .list-filter-row {
        border: none;
    }

    .list-filter-row  span {
        float: right;
        padding-top: 5px;
    }
    
    .list-filter-row img {
        width: 30px;
        padding-right: 5px;
    }
    
    .list-filter-option label{
        font-size: 14px;
    }
    
    .list-mb-what,
    .list-mb-when{
        width: calc(100%/3);
    }
    
    .list-mb-where {
        width: calc(100%/4);
    }
    
    .list-mb-howmuch {
        width: calc(100%/2);
    }
    
    .list-filter-option input {
        margin: 2px 5px 0 0;
    }
    
    .list-filter-option {
        margin: 0px;
        padding: 10px;
        border: 1px solid #f2f2f2;
        border-top: none;
    }
    
    .list-content-panel {
        border: none;
    }
    
    .list-category-info {
        margin: 0;
    }
    
    .list-category-info img {
        width: 26px;
    }
    
    .list-category-info p {
        height: 28px;
        font-size: 14px;
    }
    
    .list-readmore {
        width: 100%;
    }
    
    .list-result {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 10px;
        background-color: #999999;
        color: #fff;
        letter-spacing: 2px;
        font-size: 15px;
    }

}
