/*

@media screen and (max-width: 768px) {


}
*/
@media screen and (min-width: 481px) {
    .navbar-brand-mobile,
    .navbar-toggle-mobile,
    .searchbar-mobile,
    .home-mb-info,
    .new-activity > button,
    .home-mb-order,
    .home-mb-price,
    .navbar-mb-container,
    .actpage-mb-price,
    .purchase-mb-btn {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .home-container > form,
    .home_bntitle,
    .home-title,
    .Act-category,
    .home-blog,
    .new-activity-count,
    .new-activity-orginizer,
    .new-activity-price,
    .new-activity-date,
    .new-activity-location,
    .online-secretary,
    .about-us,
    .funtion-intro,
    .navbar-brand,
    .navbar-container,
    .act-page-blur,
    .actpage-right-content,
    .dashboard-price,
    .mb-no-display{
        display: none;
    }
    
    .act-page-container {
        margin-top: 0px;
    }
    
    .navbar {
        position: inherit;
        height: 45px;
        background-color: white;
        margin: 0px;
        padding: 0px;
    }
    
    .navbar-brand-mobile {
        padding-top: 16px;
        text-align: center;
    }
    
    .navbar-brand-mobile img {
        height: 30px;
    }
    
    .navbar-toggle {
        color: #333333;
        margin: 0px;
        padding-top: 14px;
    }
    
    .navbar-toggle-mobile {
        border: none;
        color: #333333;
        padding:10px;
        margin-top: 6px;
        background-color: transparent;
        font-size: 16px;
    }
    .searchbar-mobile {
        position: absolute;
        z-index: 9999;
        top: 30%;
        left: 15%;
        color: white;
        text-align: center;
        font-size: 50px;
        letter-spacing: 2px;
        text-shadow: 1px 1px 30px #808080;
        width: 70%;
    }
    
    .searchbar-mbstyle {
        padding: 0px;
    }
    
    .searchbar-mbstyle input {
        padding: 0px 30px;
        background-color:rgba(255,255,255,0.9);
        height: 100px;
        font-size: 45px;
        color: black;
    }
    
    .search-button {
        width: 100%;
        height: 100px;
        font-size: 45px;
        letter-spacing: 10px;
    }
    
    /*-------- mobile view 首頁 ----------*/
    .new-activity {
        padding: 15px;
    }
    
    .new-activity-panel {
        box-shadow: none;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        padding: 0px;
    }
    .new-activity-thumbnail {
        width: 40%;
        float: left;
        height: 150px;
        border-radius: 0px;
        position: relative;
    }
    
    .new-activity-right {
        width: 60%;
        float: left;
        padding:5px 10px;
    }
    .new-activity-title {
        padding: 0px;
        margin: 0px;
    }
    .new-activity-title a {
        font-size: 18px;
    }
    .new-activity-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        position: relative;
        line-height: 1.5em;
        height:3em;
        padding: 0px;
    }
    
    .home-mb-info {
        padding: 0px;
        padding-right: 0px;
        font-size: 14px;
    }
    
    .home-mb-info span {
        padding-right: 5px;
    }
    
    .home-mb-price {
        color: white;
        background-color: rgba(0,0,0,0.7);
        width: 80%;
        padding: 5px 10px;
        text-align: center;
        position: absolute;
        right: 0px;
        bottom: 10px;
    }

    .new-activity > button {
        background-color: #ff5a5f;
        padding: 10px;
        width: 100%;
        border: none;
        color: white;
        font-size: 15px;
        letter-spacing: 1px;
        border-radius: 5px;
    }
    
    .new-activity > button:hover {
        background-color: #dd4e58;
    }
    
    .home-mb-order {
        margin-bottom: 10px;
    }
    
    .nav-tabs > li > a {
        margin-right: 1px;
        color: #888;
        border: 1px solid #ccc;
        margin: 0px 5px;
        padding: 8px 15px;
    }
    
    /*foooooooooooooooooooooter*/
    .bottom-linkout {
        padding: 10px;
    }
    .bottom-linkout img {
        width: 80px;
    }
    .footer-center {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    /*---------------sliderbar---------------*/
    
    .top-nav-left {
        left: 0px;
        width: 50px;
    }
    
    .sb-toggle-left {
        cursor: pointer;
        margin-top: 8px;
        font-size: 22px;
        margin-left: 25px;
    }
    .sb-toggle-right {
        margin-top: 14px;
        margin-right: 5px;
    }
    .sb-slidebar {
        background-color: #f2f2f2;
    }
    
    .sb-slidebar img {
        width: 100%;
        padding: 15px 50px;
    }
    
    .side-list a li {
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 15px 0px;
        letter-spacing: 2px;
        border-bottom: 1px dashed #4d4d4d;
    }
    
    .side-list a li:hover {
        background-color: #4d4d4d;
    }
    /*活動內容頁*/
    .actpage-main-image {
        position: inherit;
        width: 100%;
        height: 200px;
        background-position: center;
    }
    
    .actpage-mb-price {
        padding: 10px 20px;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        color: white;
        font-size: 18px;
        right: 0px;
        top: 200px;
    }
    
    .actpage-dashboard,
    .actpage-panel {
        width: 100%;
        min-height: auto;
    }
    
    .actpage-dashboard-info > p {
        margin: 0px;
    }
    
    .dashboard-block {
        width: 100%;
        margin: 10px 0px;
    }
    
    .dashboard-text {
        float: left;
        width: 80%;
        margin: 0px;
        padding-left: 10px;
    }
    
    .dashboard-block img  {
        float: left;
        width: 15%;
        margin: 0px;
    }
    
    .actpage-recommend-panel {
        width: 100%;
        border: none;
    }
    
    .actpage-recommend-thumnail {
        width: 40%;
        border-radius: 0px;
        float: left;
    }
    
    .actpage-recommend-info {
        width: 60%;
        float: left;
    }
    
    .purchase-mb-btn {
        position: fixed;
        width: 100%;
        z-index: 9990;
        bottom: 0px;
    }
    
    /*訂購頁面*/
    .purchase-content {
        margin-top: 0px;
        padding: 0px;
    }
    
    .wizard > .steps {
        margin: 10px 0px;
        width: 100%;
        font-size: 12px;
    }
    
    .wizard > .steps > ul > li {
        width: calc(100%/3);
    }
    
    .wizard > .content {
        width: auto;
        margin: 0px;
        box-shadow: none;
        border-radius: 0px;
    }
}


















    
    
